@inject IMasterHelper helper

@model PaginationList<MAccountInfo>

@{
    ViewData["Title"] = "Account List";
}

<table>
    <tr>
        <td>
            <h4>Account List</h4>
        </td>
        <td style ="padding-left:10px">
            <span>(Total: @ViewData["TotalItem"] items)</span>
        </td>
        <td style="padding-left:25px">
            <a href="@Url.Action("Create", "MAccountInfo")" class="btn btn-success">Add</a>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-controller="MAccountInfo" asp-action="Index" asp-route-index="@Model.PageIndex" asp-route-sortOrder="@ViewData["SortParamReportID"]">
                    UID
                    @if (ViewData["CurrentSort"]?.ToString() == "asc")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                    else if (ViewData["CurrentSort"]?.ToString() == "desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                </a>
            </th>
            <th>Name</th>
            <th>Level</th>
            @* <th>Username</th>
            <th>Email</th> *@
            <th>Created By</th>
            <th>Created On</th>
            <th>Updated By</th>
            <th>Updated On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "MAccountInfo", new { id = item.UID })" class="btn btn-outline-danger">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                    <a href="@Url.Action("Delete", "MAccountInfo", new { id = item.UID })" class="btn btn-outline-danger">
                        <i class="bi bi-trash text-danger"></i>
                    </a>
                    <a href="@Url.Action("ChangePassword", "MAccountInfo", new { id = item.UID })", class="btn btn-outline-secondary">
                        <i class="bi bi-key text-secondary"></i>
                    </a>
                </td>
                <td>@item.UID</td>
                <td>@item.Name</td>
                <td>@(item.LevelRightID != null ? helper.GetUserLevelRightByID(item.LevelRightID.Value)?.Result?.Name : string.Empty)</td>
                @* <td>@item.Username</td>
                <td>@item.Email</td> *@
                <td>@item.CreatedBy</td>
                <td>@item.CreatedOn</td>
                <td>@item.UpdatedBy</td>
                <td>@item.UpdatedOn</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("PageBar", ("MAccountInfo", Model.PageIndex, Model.TotalPage, Model.SortOrder))