@inject IAccountHelper accountHelper

@model List<TaskListSystemMVC.Database.Model.MStatus>

@{
    ViewData["Title"] = "Status List";
}

<table>
    <tr>
        <td>
            <h4>Status List</h4>
        </td>
        <td style="padding-left:25px">
            @if (accountHelper.GetUserLevelID() == FixedUserLevel.SUPERADMIN_UID)
            {
                <a href="@Url.Action("Create", "MStatus")" class="btn btn-success">ADD</a>
            }            
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Updated By</th>
            <th>Updated On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (accountHelper.GetUserLevelID() == FixedUserLevel.SUPERADMIN_UID)
                    {
                        <a href="@Url.Action("Edit", "MStatus", new { id = item.UID })" class="btn btn-outline-warning">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="@Url.Action("Delete", "MStatus", new { id = item.UID })" class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    }                   
                </td>
                <td>@item.UID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedBy</td>
                <td>@item.CreatedOn</td>
                <td>@item.UpdatedBy</td>
                <td>@item.UpdatedOn</td>
            </tr>
        }
    </tbody>
</table>