@inject IMasterHelper masterHelper

@model PaginationList<TDailyTask>

@{
	ViewData["Title"] = "Summary Task";
}

<table style="width:100%">
	<tr class="d-flex justify-content-between align-items-center">
		<td class="d-flex align-items-center">

			<h4>Summary Task List</h4>	
			<span style="margin-left:10px">(Total: @Model.TotalItem items)</span>

			<a asp-controller="TDailyTask" asp-action="Create" asp-route-sourcePage="SummaryTask" class="btn btn-primary" style="margin-left:25px">
				<i class="bi bi-plus"></i>ADD
			</a>

			<a asp-controller="TDailyTask" asp-action="ExportToExcel" asp-route-sourcePage="SummaryTask" class="btn btn-primary" style="margin-left:5px">
				<i class="bi bi-file-earmark-excel"></i> Export to Excel
			</a>

		</td>
		<td class="ms-auto">
			@await Html.PartialAsync("SearchBar", @ViewData["SearchFilter"])
		</td>
	</tr>
</table>

<table class="table">
	<thead>	
		<tr>
			<th></th>
			<th>
				<a asp-controller="TDailyTask" asp-action="Index_Summary" asp-route-index="@Model.PageIndex" asp-route-sortOrder="@ViewData["SortParamReportID"]" asp-route-searchFilter="@ViewData["SearchFilter"]">
					Report ID
					@if (@ViewData["SortOrder"]?.ToString() == "asc")
					{
						<i class="bi bi-arrow-up"></i>
					}
					else if (@ViewData["SortOrder"]?.ToString() == "desc")
					{
						<i class="bi bi-arrow-down"></i>
					}
				</a>
			</th>
			<th>Reported On</th>
			<th>Scheduled On</th>
			<th>Title</th>
			<th>Status</th>
			<th>PIC</th>
			<th>Type</th>
			<th>Completed On</th>
			<th>Updated On</th>
			<th>Updated By</th>
		</tr>		
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var rowclass = item.StatusID switch
			{
				FixedStatus.WIP_UID => "table-secondary",
				FixedStatus.HOLD_UID => "table-danger",
				FixedStatus.COMPLETED_UID => "table-success",
				_ => ""
			};

			<tr class="@rowclass">
				<td>
					<div style="display:flex; gap:10px; align-items:center;">
						<a asp-controller="TDailyTask" asp-action="Edit" asp-route-id="@item.UID" asp-route-sourcePage="SummaryTask">
							<i class="bi bi-pencil text-warning"></i>
						</a>
						<a asp-controller="TDailyTask" asp-action="Delete" asp-route-id="@item.UID" asp-route-sourcePage="SummaryTask">
							<i class="bi bi-trash text-danger"></i>
						</a>
					</div>					
				</td>
				<td>@item.ReportByID</td>
				<td>@item.ReportedOn</td>
				<td>@item.ScheduledOn</td>
				<td>@item.Title</td>
				<td>@item.StatusName</td>
				<td>@item.PICName</td>
				<td>@item.TypeName</td>				
				<td>@item.CompletedOn</td>
				<td>@(item.UpdatedOn == null ? item.CreatedOn : item.UpdatedOn)</td>
				<td>@(item.UpdatedBy == null ? item.CreatedBy : item.UpdatedBy)</td>
			</tr>
		}
	</tbody>
</table>

@await Html.PartialAsync("PageBar", ("TDailyTask", "Index_Summary", Model.PageIndex, Model.TotalPage))