@model (string controllerName, string actionName, int pageIndex, int totalPage)

<div class="d-flex">
	<nav aria-label="Page Navigation">
		<ul class="pagination">
			@if (Model.pageIndex > 1)
			{
				<li class="page-item">
					<a class="page-link" onclick="GoToPage(@Model.pageIndex - 1)">
						<span aria-hidden="true">&laquo; Previous</span>
					</a>
				</li>
			}
			@for (int i = Math.Max(1, Model.pageIndex - 3); i <= Math.Min(Model.totalPage, Model.pageIndex + 3); i++)
			{
				<li class="page-item">
					<a class="page-link @(i == Model.pageIndex ? "active" : "")" onclick="GoToPage(@i)">
						@(i)
					</a>
				</li>
			}
			@if (Model.pageIndex < Model.totalPage)
			{
				<li class="page-item">
					<a class="page-link" onclick="GoToPage(@Model.pageIndex + 1)">
						<span aria-hidden="true">Next &raquo;</span>
					</a>
				</li>
			}
		</ul>
	</nav>
	<div style="width:10px"></div>
	<div class="mb-3 d-flex align-items-center">
		<span class="page-link bg-light border-0">(Total: @Model.totalPage pages)</span>
		<input id="txtGoTo" type="number" min="1" max="@Model.totalPage" value="@Model.pageIndex" class="form-control" style="width: 80px; text-align: center; margin-left: 10px;" />
		<a class="btn btn-secondary ms-2" onclick="BtnGoClick(@Model.totalPage)">GO</a>
	</div>
	
</div>

<script type="text/javascript">

	function GoToPage(pg)
	{
		var url = new URL(window.location.href);
		var params = new URLSearchParams(url.search);

		params.set("index", pg);

		window.location.href = `${url.pathname}?${params.toString()}`;
	}

	function BtnGoClick(totalPage)
	{
		var page = document.getElementById("txtGoTo").value;
		var maxPage = totalPage;

		if (page < 1 || page > maxPage || isNaN(page)) {
			alert("Please enter a valid page number between 1 and " + maxPage);
			return;
		}

		GoToPage(action, page);
	}

</script>